@import "tailwindcss";

@theme {
  --font-display: 'Manrope', sans-serif;

  --color-primary: #13ec37;
  --color-primary-dark: #0fb62b;
  --color-background-light: #fdfdfa;
  --color-background-dark: #102213;
  --color-wood-light: #e8e4dc;
  --color-wood-dark: #2c2a26;
  --color-text-main: #111812;
  --color-text-muted: #5c6f60;

  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}

/* Custom Utilities */
.brush-stroke {
  position: relative;
  z-index: 1;
}

.brush-stroke::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: var(--color-primary);
  opacity: 0.3;
  z-index: -1;
  border-radius: 4px;
  transform: rotate(-1deg);
}

/* Scrollbar Hide Utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
